a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,
caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,
figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,
legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,
strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  list-style:none;
  word-spacing:.3rem;
  letter-spacing:.1rem;
  font-family:Roboto,"serif";
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section  {
  display:block;
}

html  {
  font-size:62.5%;
  box-sizing:border-box;
}

*,:after,:before  {
  box-sizing:inherit;

}

body  {
  line-height:1;
  background:#e5e5e5;
}

ol,ul  {
  list-style:none;
}

blockquote,q  {
  quotes:none;
}

blockquote:after,blockquote:before,q:after,q:before  {
  content:"";
  content:none;
}

table  {
  border-collapse:collapse;
  border-spacing:0;
}

a  {
  text-decoration:none;
}

h2,h3 {
color:#333;
}

button {
background:-webkit-radial-gradient(50% 400%,circle,#6c9de2 0,#79adff 21.66%,#3560d0 65%,#0038a5 85.5%,#003498 100%);
background:radial-gradient(circle at 50% 400%,#6c9de2 0,#79adff 21.66%,#3560d0 65%,#0038a5 85.5%,#003498 100%);
font-family:Roboto;
font-style:normal;
font-weight:500;
font-size:1.6rem;
line-height:1.6rem;
border:none;
color:#fff;
box-shadow:4px 5px 1px -1px rgba(0,0,0,.1);
border-radius:4px;
height:39px;
width:132px;
padding:none;
cursor:pointer;
}

.app_container {
margin:0 auto;
height:100%;
}

.title_container {
display:flex;
justify-content:center;
align-content:center;
background:-webkit-radial-gradient(140% 20%,circle,#6c9de2 0,#79adff 21.66%,#3560d0 65%,#0038a5 85.5%,#003498 100%);
background:radial-gradient(circle at 140% 20%,#6c9de2 0,#79adff 21.66%,#3560d0 65%,#0038a5 85.5%,#003498 100%);
box-shadow:4px 5px 1px -1px rgba(0,0,0,.1);
margin-bottom:70px;
}

.title_container h1 {
font-size:3.5rem;
margin-top:25px;
color:#fff;
margin-bottom:25px;
}

.mid_section_container {
display:flex;
width:80%;
margin:0 auto;
}

.grid_container {
width:50%;
display:flex;
flex-direction:column;
justify-content:space-between;
background-color:#fff;
box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
padding:1%;
}

.grid_container h1 {
font-size:1.6rem;
font-weight:bolder;
margin-bottom:10px;
margin-left:9%;
}

.grid_container .grid_and_default_buttons {
display:flex;
justify-content:space-around;
width:100%;
}

.grid_container .grid_and_default_buttons .default_grids_container {
display:flex;
flex-direction:column;
justify-content:space-around;
}

.grid_container .grid_and_default_buttons .default_grids_container button {
margin:0 auto;
}

.rules_container {
width:50%;
font-size:1.6rem;
background-color:#fff;
box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
border-radius:2px;
padding:1%;
margin-left:20px;
}

.rules_container h1 {
font-size:1.8rem;
font-weight:bolder;
margin-bottom:15px;
}

.rules_container ul {
list-style-type:circle;
margin:1em 0 1 em;
padding-left:40px;
}

.rules_container ul span {
font-weight:bolder;
}

.rules_container ul li {
margin-bottom:10px;
}

.controls {
margin-left:9%;
display:flex;
flex-direction:column;
margin-top:25px;
}

.controls h1 {
margin-left:0;
margin-bottom:25px;
}

.controls button,.controls input {
width:175px;
margin-bottom:15px;
}

.about_section {
width:80%;
background:#fff;
box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
margin:70px auto;
padding:1%;
}

.about_section h1 {
text-align:center;
font-size:3rem;
margin-bottom:50px;
}

.about_section label {
font-size:2rem;
font-weight:bolder;
margin-bottom:6px;
}

.about_section p {
text-align:center;
margin-top:6px;
font-size:1.6rem;
margin-bottom:25px;
}


/*# sourceMappingURL=main.190dcbba.chunk.css.map */